 <table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-4 columns first">
				<table>
					<tr>
						<th>
							<center data-parsed=""> <img src="http://placehold.it/50x50" align="center" class="float-center"> </center>
							<h5 class="text-center">Feature One</h5>
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
						</th>
					</tr>
				</table>
			</th>
			<th class="small-12 large-4 columns">
				<table>
					<tr>
						<th>
							<center data-parsed=""> <img src="http://placehold.it/50x50" align="center" class="float-center"> </center>
							<h5 class="text-center">Feature Two</h5>
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
						</th>
					</tr>
				</table>
			</th>
			<th class="small-12 large-4 columns last">
				<table>
					<tr>
						<th>
							<center data-parsed=""> <img src="http://placehold.it/50x50" align="center" class="float-center"> </center>
							<h5 class="text-center">Feature Three</h5>
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quod quam unde earum.</p>
						</th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
