 <table class="row" style="background: {{ footer.background }};">
	<tbody>
		<tr>
			<th class="small-12 large-4 columns first" style="padding-top: {{ global.spacing }};" valign="top">
				<table>
					<tr>
						<th>
							<h5>Column 02</h5>
						</th>
					</tr>
				</table>
			</th>
			<th class="small-12 large-4 columns" style="padding-top: {{ global.spacing }};" valign="top">
				<table>
					<tr>
						<th>
							<h5>Column 02</h5>
						</th>
					</tr>
				</table>
			</th>
			<th class="small-12 large-4 columns last" style="padding-top: {{ global.spacing }};" valign="top">
				<table>
					<tr>
						<th>
							<h5>Column 03</h5>
						</th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
