<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns first last">
				<table>
					<tr>
						<th>
							<h1>{{{ intro.salutation }}}</h1><br>
							{{{ intro.text }}}
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
