<table class="row">
	<tbody>

		{{#each nextsteps }}
			{{#if @first}}{{ atom "step_first" }}{{/if}}
			{{#unless @first}}{{#unless @last}}{{ atom "step_between" }}{{/unless}}{{/unless}}
			{{#if @last}}{{ atom "step_last" }}{{/if}}
		{{/each}}

	</tbody>
</table>
