<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns first last">
				<table>
					<tr>
						<th>
							Sie haben noch Fragen? Gerne beantworte ich Ihnen diese unter den unten genannten Kontaktdaten.
							<br><br>
							Mit freundlichen Grüßen<br>
							<img src="{{ global.image.path }}unterschrift.jpg" alt="Unterschrift Dirk Job" style="display: inline;" /><br>
							Dirk Job<br>
							Leiter Kundenservice

							{{#if outro_dirk-job.full-contact }}
							<br><br><br>
							<h2>So erreichen Sie uns:</h2>
							klicktel Kundenservice<br>
							Kruppstraße 74 - 45145 Essen
							<br><br>
							Geschäftszeiten:<br>
							Mo. – So.: Täglich 24 Stunden für Sie da!
							<br><br>
							T +49 (0) 800 0167 - 100 (kostenfrei)<br>
							F +49 (0) 800 0167 - 300 (kostenfrei)<br>
							<a href="mailto: kundenservice@klicktel.com">kundenservice@klicktel.com</a>
							{{/if}}
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
