<table class="wrapper header float-center" align="center">
	<tr>
		<td class="wrapper-inner" style="padding-left: 0; padding-right: 0;">
			<table class="container">
				<tbody>
					<tr>
						<td>
							<table class="row collapse">
								<tbody>
									<tr>
										<th class="small-12 large-12 columns first" style="padding-bottom: 8px;">
											<table>
												<tr>
													<th style="padding: 10px {{ global.spacing }}; font-size: {{ global.font-size.small }}; border-bottom: 1px solid {{ global.background }};">{{{ preheader.message }}}</th>
												</tr>
											</table>
										</th>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
