<table class="row">
	<tbody>
		<tr>
			<th class="small-12 large-12 columns" style="padding-left: 0; padding-right: 0;">
				<table>
					<tr>
						<th>
							<center data-parsed=""> <img src="{{ global.image.path }}{{ teaser_hero.image.src }}" alt="{{ teaser_hero.image.alt }}" align="center" class="float-center"> </center>
						</th>
						<th class="expander"></th>
					</tr>
				</table>
			</th>
		</tr>
	</tbody>
</table>
