<table class="row">
	<tbody>
		<tr>
			<th width="20" valign="top" style="padding-left: 0; padding-right: 0;"><img src="{{ global.image.path }}list-check.gif" alt="check" /></th>
			<th>{{{ text }}}</th>
		</tr>
	</tbody>
</table>
<br>
