<tr>
	<td width="150">&nbsp;</td>
	<td width="40" style="background-color: #01859e;" valign="top">
		<br><img src="{{ global.image.path }}process-check.gif" alt="erledigt" style="display: block;">
	</td>
	<td style="background-color: #01859e; text-align: center; color: #ffffff; font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 12px; letter-spacing: normal; line-height: 1; mso-line-height-rule: exactly; mso-line-height-rule: exactly;" align="center" valign="middle" width="220">
		<br>
		{{ step }}
	</td>
	<td width="40" style="background-color: #01859e;">&nbsp;</td>
	<td width="150">&nbsp;</td>
</tr>
<tr>
	<td width="150">&nbsp;</td>
	<td colspan="3" width="300">
	 <img src="{{ global.image.path }}process-step01.gif" alt="" style="display: block;">
	</td>
	<td width="150">&nbsp;</td>
</tr>
